.profile__user-status {
  margin: 0;
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 450px) {
  .profile__user-status {
    max-width: 272px;
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
  }
}
