.popup__input {
  width: 100%;
  display: block;
  padding: 5px 0 8px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
}

.popup__input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #808080;
}

.popup__input:focus {
  outline: none;
  border-bottom:  1px solid rgb(0,0,0);
}

@media screen and (max-width: 450px) {
  .popup__input {
    font-size: 13px;
    line-height: 1.25;
  }

  .popup__input::placeholder {
    font-size: 12px;
    line-height: 1.25;
  }
}
