.elements__like-btn {
  min-width: 22px;
  height: 19px;
  margin-bottom: 2px;
  padding: 0;
  background-color: transparent;
  background-image: url(../../../images/like-icon.svg);
  background-size: 22px 19px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  transition: all .5s;
}

.elements__like-btn:hover {
  opacity: .6;
  transform: scale(1.2);
  cursor: pointer;
}

.elements__like-btn:focus {
  outline: none;
  opacity: .6;
  transform: scale(1.2);

}
