.popup__input-error {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #F00;
}

@media screen and (max-width: 450px) {
  .popup__input-error {
    font-size: 10px;
    line-height: 1.1;
  }
}
