.profile__row {
  margin-bottom: 16px;
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 550px) {
  .profile__row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    margin-bottom: 14px;
  }
}
